@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap);
body{
    background-color: #131313;      
    color: ghostwhite;
    font-family: 'Poppins', sans-serif;
}

.orderBtn{
    background-color: #e625a4;
    color: ghostwhite;
    padding: 10px;
    border-radius: 25px;
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
  }
